---
// components
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import {Card, Typo} from '@koibumi-design/solidjs'
import PostCard from "@/components/PostCard.astro";

// meta
import {getCollection} from 'astro:content';
import {SITE_TITLE, SITE_DESCRIPTION, GLOBAL_STYLE, t_bio} from '@/consts';

import '@/styles/home.scss';

const posts = (await getCollection('blog'))
    .filter(post => post.data.pinned)
    .filter(post => post.data.lang === 'zh')
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---

<!doctype html>
<html lang="zh">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header lang="zh"/>
<main>
    <Card variant={GLOBAL_STYLE} id="avatar-bio">
        <img src="/avatar.svg" alt="avatar"/>
        <section id="bio">
            <Typo emphasis={true} variant="h2">
                {SITE_TITLE}
            </Typo>
            <Typo>
                {t_bio("zh")}
            </Typo>
            <div>
                <Typo>
                    <strong>联系我:</strong>
                </Typo>
                <div id="contact">
                    <a class="icon-link" href="https://github.com/haruki-nikaidou" target="_blank" aria-label="GitHub">
                        <GitHubIcon/>
                    </a>
                </div>
            </div>
        </section>
    </Card>

    <Card variant={GLOBAL_STYLE}>
        <Typo variant="h3">
            置顶文章
        </Typo>
    </Card>
    <section id="pinned-container">
        {
            posts.map((post) => {
                const {slug, data} = post;
                return (
                    <PostCard slug={slug as string} {...data}/>
                    )
                })
        }
    </section>
</main>
<Footer/>
</body>
</html>