---
import HeaderLink from './HeaderLink.astro';
import {Card, Typo, Link} from "@koibumi-design/solidjs";
import {GLOBAL_STYLE, SITE_TITLE} from '../consts';
import {getRelativeLocaleUrl} from "astro:i18n";

interface Props {
	lang: string
}

let {lang} = Astro.props;
function t_homePage(lang: string) {
	switch (lang) {
		case "zh":
			return "首页";
		case "en":
			return "Home";
		case "ja":
			return "ホーム";
		default:
			return "Home";
	}
}
function t_articles(lang: string) {
	switch (lang) {
		case "zh":
			return "文章";
		case "en":
			return "Articles";
		case "ja":
			return "記事";
		default:
			return "Articles";
	}
}
---

<Card class="head-container" variant={GLOBAL_STYLE}>
	<header>
		<nav>
			<Typo variant="h1">
				<Link href="/" id="title">
					{SITE_TITLE}
				</Link>
			</Typo>
			<div class="internal-links">
				<HeaderLink href={getRelativeLocaleUrl(lang, "")}>{t_homePage(lang)}</HeaderLink>
				<HeaderLink href={getRelativeLocaleUrl(lang, "/blog")}>{t_articles(lang)}</HeaderLink>
				<HeaderLink href="https://github.com/koibumi-design/astro-blog">GitHub</HeaderLink>
			</div>
		</nav>
	</header>
</Card>


<style>
	.head-container {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	#title {
		text-decoration: none;
	}

	#title:hover {
		text-decoration: underline;
	}

    nav {
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90rem;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .internal-links {
        height: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
</style>
